.my-primary {
  background-color: #159895;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: #bbff00;
}
.my-btn {
  background-color: #1a5f7a;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 15px;
  width: 30%;
  height: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.my-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 1000px) {
  .my-btn {
    width: 20%;
  }
}

.table.history table {
  margin: 0 auto;
  width: 80%;
  background-color: #002b5b;
}

.table.history table th,
.table.history table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #002b5b;
  color: #ffffff;
}

.table.history table tbody tr:first-child {
  background-color: #000000;
}

.header-row {
  background-color: #007bff;
  color: #fff;
}
