@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: #159895;
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* name modal */
.name-modal {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.name-modal-contents {
  height: 450px;
  width: 100%;
  max-width: 350px;
  background-color: #002b5b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 10px;
}

.name-modal-contents h1 {
  margin-top: 40px;
  font-size: 25px;
  color: #bbff00;
}

.name-modal-contents h2 {
  margin-top: 10px;
  font-size: 20px;
}

.name-modal-contents p {
  font-size: 15px;
  font-weight: bold;
}

.name-modal input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

.name-modal-contents button {
  margin-top: 10px;
  padding: 10px;
  background-color: #57c5b6;
  color: #ffffff;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
}

.name-modal-contents button:hover {
  background-color: #ffffff;
  color: #000000;
}

.name-modal-contents .error-message {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #ff0000;
}

/* Shared utility classes */
button:hover {
  cursor: pointer;
  opacity: 90%;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  color: #bbff00;
}

.content-container {
  position: relative;
  z-index: 0;
}

/* grid score */
.grid-score {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(1, 100px);
  gap: 9px;
  margin-bottom: 50px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.score h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.score span {
  font-weight: bold;
}

.score p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.score span {
  font-size: 12px;
  margin-top: 2px;
}

/* turn */
.turn {
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.turn p {
  font-size: 20px;
  font-weight: bold;
  animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.turn img {
  width: 80px;
  animation: 0.6s ease-in-out turn-icon-animation;
}

/* grid tic-tac-toe */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 9px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .grid-score {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(1, 80px);
  }
  .grid {
    justify-content: center;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
  }
  .score h6 {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .score p {
    font-size: 10px;
    font-weight: 500;
    margin-top: 2px;
  }
}

@media (min-width: 768px) {
  .grid-score {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(1, 80px);
  }
  .grid {
    justify-content: center;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
  }
  .score h6 {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .score p {
    font-size: 10px;
    font-weight: 500;
    margin-top: 2px;
  }
}

.square {
  background-color: #002b5b;
  border: 5px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.square:hover {
  cursor: pointer;
  opacity: 90%;
}

.square img {
  width: 70px;
}

.modal {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-contents {
  height: 280px;
  width: 100%;
  max-width: 350px;
  background-color: #002b5b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 10px;
  font-weight: bold;
}
.modal-contents p {
  font-size: 20px;
}
.modal-contents img {
  width: 100px;
}

p[data-id="modal-text"] {
  text-align: center;
}

p[data-id="modal-text"] img {
  display: block;
  margin: 20px auto 0;
}

.button-group {
  display: flex;
  gap: 10px;
}
.modal-contents a {
  margin-top: 10px;
  padding: 10px;
  background-color: #57c5b6;
  color: #ffffff;
  border-radius: 5px;
  width: 130px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.modal-contents a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* ANIMATION BACKGROUND */
section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

section .set div {
  position: absolute;
  display: block;
}

section .set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
  z-index: 4;
}

section .set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
  z-index: 2;
}

section .set div:nth-child(3) {
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
  z-index: 1;
}

section .set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}

section .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}

section .set div:nth-child(6) {
  left: 0%;
  animation: animate 12s linear infinite;
}

section .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}

section .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
