* {
    font-family: 'Montserrat', sans-serif;
  }
  
  .my-primary {
    background-color: #159895;
  }

  .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  } 
  
  .X,
  .O{
    width: 69px;
    height: 80px;
  }

  .text{
    color: white;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  .player {
    background-color: #1a5f7a;
    border-radius: 10px;
    color: white;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
    width: 152px;
    height: 153px;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tic-tac-toe-cell{
    background-color: #1a5f7a;
    height: 120px;
    flex-shrink: 0;
    border-style: none;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .col-4.tic-tac-toe-cell img{
    width: 65px;
    height: 80px;
  }
  