@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");


* {
  font-family: 'Montserrat', sans-serif;
}

.my-primary {
  background-color: #159895;
}

.X{
  width: 97px;
  height: 112px;
}

.O{
  width: 97px;
  height: 112px;
}
.my-btn {
  background-color: #1a5f7a;
  border-radius: 10px;
  color: white;
  border-style: none;
  font-size: 40px;
  font-weight: 700;
  width: 213px;
  height: 215px;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.title {
  font-size: 50px;
  color: #bbff00;
}