* {
  font-family: "Montserrat", sans-serif;
}

.my-primary {
  background-color: #159895;
}
.my-btn {
  background-color: #1a5f7a;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 15px;
  width: 100%;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.my-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.option {
  width: 60px;
  height: 60px;
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  outline: 2px solid rgb(255, 255, 255);
}
